/*
 *Name: Jackson Boney
 *UnityID: jcboney2
 *Date: 02/018/2022
 *Assignment: About Me
 *Description: Independent assignment for E115
 */
 
p {
    font-size: 12px;
    font-family: Times;
    color: #FF0000;
}

.class {
    property: value;
}

#photo-resize {
    max-width: 200px;
    max-height: 250px;
}
