/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #FFFFFF;
}

.table-border {
    border: qpx soild #FFFFFF;
}

#id {
    property:value;
}
